:root {
  --white-color: #fff;
  --black-color: #000;
  --orange-color: #ec4429;
  --gray-color: #bdbdbd;
  --gray-color-deep: #7c7c7c;
  --gray-color-child: #ededed;
  --yellow-color: #ffce3d;
  --text-color: #313131;
  --orange-hover-color: #fabbc1;
}

* {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 100%;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

/* Định dạng lớp này thành hàng */
.grid__row {
  display: flex;
  flex-wrap: wrap;

  /* Cho con của lớp này không bị thụt vào 12px từ padding */
  margin: 0 -5px;
}

/* Định dạng lớp này thành cột */
.grid__col {
  flex-direction: column;
  width: 100%;
}

.grid__col--2 {
  padding: 0 5px;
  width: 16.666%;
}

.grid__col--5 {
  padding: 0 5px;
  width: 20%;
}

.grid__col--10 {
  padding: 0 5px;
  width: 83.334%;
}

.grid__col--12 {
  padding: 0 5px;
  width: 20%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.line-y {
  border-right: 1px solid hsla(0, 0%, 100%, 0.4);
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 0.4);
  height: 0.8125rem;
}

.spacer-small {
  height: 0.8125rem;
  width: 0.5rem; /* 12px */
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary--medium {
  font-size: 0.875rem;
  height: 32px;
  padding: 0px 25px;
  border: 0;
  border-radius: 2px;
  line-height: 0;
}
