@keyframes notifyGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.header {
  position: relative;
  background-image: linear-gradient(180deg, #f53d2d, #ff6533);
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  color: var(--text-color);
  font-size: 0.85rem;
  font-weight: 400;
  margin-top: 7px;
}

.navbar-list > div {
  position: relative;
  color: var(--white-color);
  display: inline-block;
}

.navbar-list > div > a {
  color: var(--white-color);
  line-height: 0;
}

.navbar-list > div:not(:last-child) {
  margin-right: 10px;
}

.navbar-list > div > a:hover {
  color: var(--orange-hover-color);
}

.download-app {
  position: relative;
}

.QR-draw__position {
  display: none;
  width: 170px;
  height: 200px;
  position: absolute;
  top: 15px;
  left: 0px;
  z-index: 7;
}

.QR-container {
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 2px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}

.QR-item__code {
  width: 160px;
  height: auto;
  justify-content: center;
  margin: 5px;
}

.QR-item__mobile {
  display: flex;
  justify-content: space-between;
  padding: 0 13px 13px 13px;
  width: 100%;
}

.gg-play {
  width: 70px;
  height: auto;
}

.app-store {
  width: 60px;
  height: auto;
}

.download-app:hover .QR-draw__position {
  display: block;
}

.user-accout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avt-user {
  height: 23px;
  width: auto;
  border-radius: 50%;
  margin-top: 0;
  margin-right: 10px;
}

.user-accout__container {
  display: none;
  width: 150px;
  height: auto;
  color: var(--text-color);
  background-color: var(--white-color);
  position: absolute;
  top: 35px;
  right: 0;
  border-radius: 3px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  /* Chọn tâm để growth */
  transform-origin: 110px top;
  animation: notifyGrowth ease-out 0.2s;
  z-index: 7;
}

.user:hover .user-accout__container {
  display: block;
}

.user-accout__container::before {
  content: "";
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -19px;
  right: 28px;
}

.user-accout__container::after {
  content: "";
  display: block;
  width: 90px;
  position: absolute;
  top: -20px;
  right: 0;
  width: 100px;
  height: 20px;
}

.header-search {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.header-search__logo {
  display: flex;
  align-items: center;
  width: 200px;
  height: auto;
}

.lazada-logo {
  width: 50px;
  height: auto;
}

.header-search__searchbar {
  min-width: 850px;
}

.searchbar {
  position: relative;
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-search {
  background-color: var(--white-color);
  border-radius: 3px;
  width: 100%;
  height: 40px;
}

.search-input {
  width: 82%;
  height: 100%;
  padding: 10px;
  outline: none;
  border-radius: 3px;
  border: var(--white-color);
}

.search-input:focus ~ .search-history__container {
  display: block;
}

.search-button {
  width: 75px;
  height: 100%;
  line-height: 0;
  color: var(--white-color);
  background-color: #fb5533;
  border-radius: 5px;
  border: 3px solid var(--white-color);
}

.search-history__container {
  display: none;
  position: absolute;
  top: 43px;
  left: 0;
  width: 75%;
  border-radius: 3px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  z-index: 6;
}

.history-label {
  font-size: 1rem;
  padding: 10px;
  color: #acacac;
  cursor: default;
}

.history-list {
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}

.history-item {
  line-height: 40px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.history-item > a {
  color: var(--text-color);
}

.history-item:hover {
  background-color: #f8f8f8;
  border-radius: 3px;
}

.search-select {
  position: relative;
  width: 18%;
  height: 70%;
  font-size: 0.875rem;
  padding-left: 16px;
  display: flex;
  align-items: center;
  border-left: 2px solid #bebebe;
  cursor: pointer;
}

.search-select > i {
  font-size: 0.5rem;
}

.search-select__position {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-select__container {
  /* display: none; */
  position: absolute;
  top: 12px;
  left: 0;
  width: 102%;
  border-radius: 3px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  z-index: 6;
}

.search-select:hover .search-select__position {
  display: block;
}

.search-select__item > a {
  padding: 5px 6px;
  color: var(--text-color);
}

.suggest {
  font-size: 0.8rem;
  line-height: 0;
  font-weight: 400;
  width: 100%;
  color: var(--white-color);
}

.suggest-list {
  padding: 2px;
}

.suggest-list > li {
  display: inline;
  margin-right: 10px;
  color: var(--white-color);
}

.suggest-list a {
  color: var(--white-color);
}

.header-search__cart {
  position: relative;
  color: var(--white-color);
  width: 150px;
  height: auto;
}

/* tab <a> cart, click to url */
.cart > a {
  font-size: 1.5rem;
  color: var(--white-color);
}

.shopping-icon {
  position: relative;
  margin-bottom: 10px;
}

.number-products {
  position: absolute;
  top: -12px;
  right: -15px;
  line-height: 0;
  font-size: 0.6rem;
  padding: 7px 7px;
  border-radius: 15px;
  border: 3px solid var(--orange-color);
  color: #f53d2d;
  background: var(--white-color);
}

.cart-products__container {
  display: none;
  position: absolute;
  top: 60px;
  right: 35px;
  width: 400px;
  height: auto;
  border-radius: 3px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  transform-origin: 364px top;
  animation: notifyGrowth ease-out 0.2s;
  z-index: 7;
}

.cart:hover .cart-products__container {
  display: block;
}

.cart-products__container::before {
  content: "";
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -19px;
  right: 24px;
}

.cart-products__container::after {
  content: "";
  display: block;
  width: 90px;
  position: absolute;
  top: -20px;
  right: 0;
  width: 100px;
  height: 20px;
}

.products-item__nothing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.products-nothing__img {
  width: 150px;
  height: auto;
  /* margin: auto; */
}

.products-list__picked {
  width: 100%;
}

.product-img {
  border: 1px solid #acacac;
  cursor: default;
}

.product-content {
  width: 350px;
  cursor: default;
  color: var(--text-color);
}

.product-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.product-label {
  margin: 0;
  font-weight: 500;
}

.price {
  color: var(--orange-color);
}

.x,
.number {
  font-size: 0.75rem;
}

.cart-products__seen {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.btn__seen-products {
  font-size: 1rem;
  color: var(--white-color);
  background-color: var(--orange-color);
}

.btn__seen-products:hover {
  background-color: var(--orange-hover-color);
}

.notify__container {
  display: none;
  width: 400px;
  height: auto;
  background-color: var(--white-color);
  position: absolute;
  top: 30px;
  right: 0;
  border-radius: 3px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  /* Chọn tâm để growth */
  transform-origin: 368px top;
  animation: notifyGrowth ease-out 0.2s;
  z-index: 7;
}

.navbar-notify:hover .notify__container {
  display: block;
}

.notify__container::before {
  content: "";
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -19px;
  right: 20px;
}

.notify__container::after {
  content: "";
  display: block;
  width: 90px;
  position: absolute;
  top: -20px;
  right: 0;
  width: 100px;
  height: 20px;
}

.products-header,
.notify-header {
  font-size: 1rem;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: var(--gray-color);
}

.products-list,
.notify-list {
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.products-item,
.notify-item {
  display: flex;
  padding: 8px 10px;
  background-color: #fff2ee;
}

.user-accout__item,
.products-item {
  background-color: var(--white-color);
}

.products-item > a,
.notify-item > a {
  display: flex;
  color: var(--text-color);
}

.notify-item:hover {
  background-color: #f8f8f8;
}

.products-item:hover {
  background-color: #f8f8f8;
  cursor: default;
}

.product-img__item,
.img-notify {
  width: 40px;
  height: auto;
}

.product-content,
.notify-content {
  padding: 0 10px;
  /* width: 400px; */
}

.notify-name {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.product-describe,
.notify-describe {
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.see-more__container {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-more__container > a {
  padding: 10px 20px;
  color: var(--text-color);
}

.language__container {
  display: none;
  width: 200px;
  height: auto;
  background-color: var(--white-color);
  position: absolute;
  top: 30px;
  right: 0;
  border-radius: 3px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  /* Chọn tâm để growth */
  transform-origin: 163px top;
  animation: notifyGrowth ease-out 0.2s;
  z-index: 7;
}

.navbar-language:hover .language__container {
  display: block;
}

.language__container::before {
  content: "";
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -19px;
  right: 27px;
}

.language__container::after {
  content: "";
  display: block;
  width: 90px;
  position: absolute;
  top: -20px;
  right: 0;
  width: 100px;
  height: 20px;
}

.user-accout__list,
.language__list,
.search-select__list {
  padding: 0;
  margin: 0;
}

.user-accout__item,
.language-item,
.search-select__item {
  line-height: 35px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  border-radius: 3px;
}

.user-accout__item:hover,
.language-item:hover,
.search-select__item:hover {
  background-color: #f8f8f8;
  border-radius: 3px;
}

.user-accout__item > a,
.language-item > a {
  color: var(--text-color);
}

.user-accout__item > a {
  font-weight: 600;
}

.user-accout__item:last-child > a {
  color: #3a9d8d;
}

.hidden {
  display: none;
}
