@keyframes notifyGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.header {
  background-image: linear-gradient(180deg, #f53d2d, #ff6533);
  /* height: 10rem; */
}

.navbar-list {
  padding: 0;
  color: var(--text-color);
  font-size: 0.85rem;
  font-weight: 300;
  margin-top: 7px;
}

.navbar-list > li {
  position: relative;
  display: inline-block;
}

.navbar-list > li > a {
  color: var(--white-color);
}

.navbar-list > li:last-child {
  padding-left: 10px;
  border-left: 2px solid var(--orange-hover-color);
}

.navbar-list > li:not(:last-child) {
  margin-right: 10px;
}

.navbar-list > li > a:hover {
  color: var(--orange-hover-color);
}

.download-app {
  position: relative;
}

.QR-draw__position {
  display: none;
  width: 170px;
  height: 200px;
  position: absolute;
  top: 15px;
  left: 0px;
  /* background-color: var(--white-color); */
}

.QR-container {
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 2px;
  background-color: var(--white-color);
}

.QR-item__code {
  width: 160px;
  height: auto;
  justify-content: center;
  margin: 5px;
}

.QR-item__mobile {
  display: flex;
  justify-content: space-between;
  padding: 0 13px;
  width: 100%;
}

.gg-play {
  width: 70px;
  height: auto;
}

.app-store {
  width: 60px;
  height: auto;
}

.download-app:hover .QR-draw__position {
  display: block;
}

.header-search {
  display: flex;
  margin-top: 20px;
}

.header-search__logo {
  display: flex;
  align-items: center;
  width: 200px;
  height: auto;
}

.lazada-logo {
  width: 50px;
  height: auto;
}

.header-search__searchbar {
  height: 100%;
  width: 100%;
}

.searchbar {
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 3px;
  width: 100%;
  height: 40px;
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 3px;
  border: var(--white-color);
}

.search-button {
  width: 80px;
  height: 100%;
  color: var(--white-color);
  background-color: #fb6445;
  border-radius: 7px;
  border: 4px solid var(--white-color);
}

.suggest {
  font-size: 0.8rem;
  font-weight: 300;
  width: 100%;
  height: 40px;
  color: var(--white-color);
}

.suggest-list {
  padding: 0;
}

.suggest-list > li {
  display: inline;
  margin-right: 10px;
  color: var(--white-color);
}

.suggest-list a {
  color: var(--white-color);
}

.header-search__cart {
  color: var(--white-color);
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search__cart > a {
  font-size: 1.5rem;
  color: var(--white-color);
}

.notify__container {
  display: none;
  width: 400px;
  height: auto;
  background-color: var(--white-color);
  position: absolute;
  top: 25px;
  right: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  /* Chọn tâm để growth */
  transform-origin: 380px top;
  animation: notifyGrowth ease-out 0.2s;
}

.navbar-notify:hover .notify__container {
  display: block;
}

.notify__container::before {
  content: "";
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -19px;
  right: 10px;
}

.notify__container::after {
  content: "";
  display: block;
  width: 90px;
  position: absolute;
  top: -20px;
  right: 0;
  width: 100px;
  height: 20px;
}

.notify-header {
  font-size: 1 rem;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: var(--text-color-opacity);
}

.notify-list {
  flex-direction: column;
  padding-left: 10px;
  padding: 0;
}

.notify-item {
  width: 100%;
  display: flex;
  padding: 8px 10px;
  background-color: #fff2ee;
}

.notify-item > a {
  display: flex;
  color: var(--text-color);
}

.notify-item:hover {
  background-color: #f8f8f8;
}

.notify-img {
}

.notify-content {
  padding: 0 10px;
}

.notify-name {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.notify-describe {
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.see-more__container {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-more__container > a {
  padding: 10px 20px;
}

.language__container {
  display: none;
  width: 200px;
  height: auto;
  background-color: var(--white-color);
  position: absolute;
  top: 25px;
  right: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  /* Chọn tâm để growth */
  transform-origin: 180px top;
  animation: notifyGrowth ease-out 0.2s;
}

.navbar-language:hover .language__container {
  display: block;
}

.language__container::before {
  content: "";
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -19px;
  right: 10px;
}

.language__container::after {
  content: "";
  display: block;
  width: 90px;
  position: absolute;
  top: -20px;
  right: 0;
  width: 100px;
  height: 20px;
}

.language__list {
  padding: 0;
}

.language-item {
  height: 30px;
  width: 100%;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.language-item:hover {
  background-color: #f8f8f8;
  border-radius: 3px;
}

.language-item > a {
  color: var(--text-color);
}
